<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/My Java program/Electricity-Billing-System-Java-Project-master/Electricity-Billing-System-Java-Project-master/src/electricity/billing/system"><classes/></test></suite>